h1 {
  color: mediumslateblue;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-weight: 400;
  line-height: 25px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 100px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.current-temperature img {
  margin-left: 10px;
  margin-right: 30px;
  float: left;
  height: 70px;
  width: 70px;
}
.current-temperature strong {
  font-size: 50px;
  margin: 1px;
  line-height: 1.5;
  font-weight: 500;
}
.current-temperature .units {
  position: relative;
  font-size: 15px;
  top: -30px;
}
.current-temperature .plain {
  text-decoration: none;
}
.current-weather-description {
  font-weight: 500;
  text-align: center;
}
.current-division {
  margin: 10px;
  padding: 0;
}
.hourly-forecast {
  text-align: center;
  font-size: 13px;
  color: #5a6275;
}
.hourly-forecast img {
  height: 35px;
  width: 35px;
}
.sun-position {
  text-align: center;
  font-size: 15px;
  color: #5a6275;
}
.sun-position img {
  margin: 5px;
  height: 40px;
  weight: 40px;
}
.additional-weather {
  padding: 12px;
  text-align: left;
  color: #5a6275;
  font-size: 18px;
}
.five-day-forecast {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 8px;
}
.five-day-forecast img {
  height: 50px;
  weight: 50px;
}
.forecast-division {
  text-align: center;
  margin: 0;
  padding: 0;
}
.forecast-day {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #5a6275;
  margin: 2px;
}
.forecast-info {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}
.max-temperature {
  margin: 2px;
  font-weight: bold;
}
.min-temperature {
  color: #5a6275;
}
.footnote {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}
.footnote .plain {
  text-decoration: none;
}
